@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/nexa-bold");

@font-face {
    font-family: "Nexa-Trial-Heavy";
    src: url(./Nexa-Trial-Heavy.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    --orange-clr: rgb(254, 140, 69);
    --lavender-clr: rgb(138, 71, 246);
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    width: 100vw;
    height: auto;
}

.btn-orange {
    background-color: var(--orange-clr);
    border: 2px solid var(--orange-clr);

    &:hover {
        color: var(--orange-clr) !important;
        background-color: transparent;
        border: 2px solid var(--orange-clr);
    }
}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--orange-clr);
    border: 2px solid var(--orange-clr);

    &:hover {
        color: var(--orange-clr) !important;
        background-color: transparent;
        border: 2px solid var(--orange-clr);
    }
}

.top-75-left-80 {
    top: -75px;
    left: -80px;
}

.bottom-150px-start-150px {
    bottom: -150px;
    left: -150px;
}

.bottom-100px {
    bottom: -100px;
}

.top-180px {
    top: -180px;
}

.nav-link-hover {
    &:hover {
        color: var(--orange-clr) !important;
    }
}

.bg-lavender {
    background-color: rgb(138, 71, 246);
}

.text-lavender {
    color: rgb(138, 71, 246);
}

.large-text {
    font-size: 65px;
}

.medium-text {
    font-size: 48px;
}

.fa-nexa {
    font-family: "Nexa", sans-serif;
    font-weight: 700;
}

.fa-nexa-heavy {
    font-family: "Nexa-Trial-Heavy";
}

.lavender-bar::after {
    content: "";
    position: absolute;
    left: -75px;
    bottom: -45px;
    height: 25px;
    width: 240px;
    background-color: var(--lavender-clr);
    border-radius: 20px;
}

.w-713px {
    width: 713px;
}

.h-680px {
    height: 680px;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.scale-1-1 {
    scale: 1.1;
}

.top-100px-left-40px {
    top: 100px;
    left: -40px;
}

.img-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.h-500px-w-456px {
    height: 500px;
    width: 456px;
}

.card-2nd-outline {
    color: #000;
    background-color: #fff;
    border: 2px solid #fff;

    &:hover {
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;
    }
}

form div {
    margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
    .lavender-bar::after {
        left: -120px;
        bottom: -35px;
        height: 15px;
        width: 170px;
    }

    .h-500px-w-456px {
        width: 400px;
    }
}
